/*global*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#C6DCE4;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
}

/*header*/
header {
    background-color: antiquewhite;
    height: auto; 
    padding: 10px;
    text-align: center;
    background-image: url(background.jpg);
    height: 300px;
    background-position: center center;
}

/*nav*/
nav.menu a:not(:last-child){
    margin-right: 50px;
}

nav.menu a{
    color: black;
    font-weight: 700;
    font-size: 20px;
}

/*main*/
main {
    height: 80vh;
}

/*footer*/
footer, footer p{
    background-color: black;
    color: white;
    text-align: center;
}

nav.social-networks a {
    color: gainsboro;
    font-size: 14px;
    margin-right: 20px;
}

/*Services*/
div.services-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
}

div.services{
    background-color: #ECE5C7;
    width: 500px;
    margin: 20px auto; /*top bottom left right*/
    padding: 20px;
    border: 8px solid black;
}

div.services ol li, div.services ul li{
    margin-bottom: 20px;
    font-size: 14px;
    margin-left: 20px;
}

div.services ol li:hover{
    text-decoration: underline;
}

/*Contact*/
.info-container{
    background-color: #128187;
    padding: 30px;
    margin-right: 80px;
    margin-left: 80px;
}

.personal-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-info ul li{
    margin-left: 70px;
    color: #DAEAF1;
    font-size: 25px;
}

/*utilities*/

h1 {
    color: #128187;
    font-size:44px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    text-decoration:underline;
    padding-top: 40px;
    margin-bottom: 70px;
    text-align: center;
}

h2,h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color:#333C83;
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    width: 90%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.paragraph-1 {
    background-color: #F2D1D1;
    border: 1px solid black;
}

#text {
    font-weight: bold;
}